<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>{%block title %}Gestion des Services{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'services/trstyle.css' %}"/>
</head>
<body>

<header>

<logo>
	<img src="{% static 'services/images/dmo.png' %}" alt="" height=80px />
</logo>

<chapeau>
	
    <h2><a href="http://www.math.u-psud.fr"> 
    	Département de <br/> Mathématiques d'Orsay  </a> 
        <br/> <a href="http://www.u-psud.fr">  Université Paris Sud</a>
    </h2>
</chapeau>
    	
<chapeau_droit>
    <h2> Gestion des Services<h2/>
</chapeau_droit>
     	
</header>

<nav>
<ul >
<li> <a href="{% url 'enseignants' %}">Enseignants</a></li>
<li> <a href="{% url 'ues' %}">UEs</a></li>
<li> <a href="{% url 'taches' %}">Taches</a></li>
</ul>

</nav>




{% block content %}

{% endblock %}


<br>
<br>
<hr>
Le {{datetime|date:"DATE_FORMAT"}} à {{datetime|time:"TIME_FORMAT"}}.
</body>
</html>