{% extends "base.html" %}

{% block content %}
<nav>
{% if ue.id %}
<a href="{% url "ue-edit" pk=ue.id %}">
  Modifier
</a>
<a href="{% url "ue-delete" pk=ue.id %}">Effacer</a>
{% endif %}

<a href="{% url "ues" %}">retour à la liste</a>
</nav>

{% if ue.id %}
<h1>Modifier l'UE/h1>
{% else %}
<h1>Nouvelle UE</h1>
{% endif %}


<form action="{{ action }}" method="POST">
  {% csrf_token %}
<table>
 <tr> 
 	<th>Millesime</th>
    <th>Titre</th>
 	<th>Code</th>
    <th>Année</th>
    <th>Semestre</th>
    <th>Spécialité</th>
    <th>Description d</th>
</tr> 
<tr>
	<td>{{form.millesime}}</td>
	<td>{{form.titre}}</td>
	<td>{{form.code}}</td>
	<td>{{form.année}}</td>
	<td>{{form.semestre}}</td>
	<td>{{form.spécialité}}</td>
	<td>{{form.description}}</td>
</tr>
</table>

<br><br>

<table>
<tr> 
    <th>Horaire Total</th>
 	<th>Horaire Cours</th>
    <th>Horaire Intégré</th>
    <th>Horaire TD</th>
    <th>Horaire TP</th>
    <th>Horaire Soutien</th>
</tr> 
<tr>
	<td>{{form.horaire_total}}</td>
	<td>{{form.horaire_cours}}</td>
	<td>{{form.horaire_intégré}}</td>
	<td>{{form.horaire_td}}</td>
	<td>{{form.horaire_tp}}</td>
	<td>{{form.horaire_soutien}}</td>
</tr>
</table>

<input id="save_ue" type="submit" value="Enregistrer" />
</form>

{% endblock %}