{% extends "base.html" %}
{% block content %}


{% if tache.id %}
<nav>
<a href="{% url "tache-edit" pk=tache.id %}">Modifier</a>
<a href="{% url "tache-delete" pk=tache.id %}">Effacer</a>
</nav>
{% endif %}


{% if tache.id %}
<h1>Modifier la Tache</h1>
{% else %}
<h1>Nouvelle Tache</h1>
{% endif %}


<form action="{{ action }}" method="POST">
  {% csrf_token %}
<table>
<tr>
{% for field in form %}
<th style="width: 5%;">
 {{ field.label_tag }} 
</th>
{%endfor%}
</tr>

 <tr> 
 {% for field in form %}

    <td style="width: 5%;">{{ field }}</td>
  
  {% endfor %}
</tr> 
</table>

<input id="save_tache" type="submit" value="Enregistrer" />
</form>


{% endblock %}