{% extends "base.html" %}
{% block title %}Liste des Enseignants{% endblock %}


{% block content %}


<h1>Liste des Enseignants</h1>

<bouton>
<a href="{% url "enseignant-new" %}">Nouvel Enseignant</a></li>
</bouton>

<br/>
<br/>

<table>
<tr>
	<th style="width: 5%;"> <a href="?sort_by=millesime&order=asc">Millesime</a></th>
	<th style="width: 10%;"> <a href="?sort_by=nom&order=asc">Nom</a> </th>
	<th style="width: 5%;"> <a href="?sort_by=grade&order=desc">Grade</a></th>
	<th style="width: 5%;"> Service théorique</th>
	<th style="width: 5%;"> <a href="?sort_by=-decharge">Décharge</a> </th>
	<th style="width: 5%;"> <a href="?sort_by=-attribué">Attribué</a></th>
	<th style="width: 5%;"> <a href="?sort_by=bilan">Bilan</a></th>
</tr>
{% for enseignant in enseignant_list%}
<tr>
	<td>{{enseignant.millesime}}</td>
	<td><a href="{% url 'enseignant-view' enseignant.id%}">{{enseignant.prenom }} {{enseignant.nom}}</a></td>
	<td>{{enseignant.grade}}</td>
	<td>{{enseignant.service_du}}</td>
	<td>{{enseignant.decharge}}</td>
	<td>{{enseignant.total_attribue_1}}</td>
	<td>{{enseignant.calcul_bilan}}</td>
</tr>
{% endfor %}	

</table>

{% endblock %}
