
{% extends "base.html" %}

{% block content %}



<h1>{{enseignant}}</h1>


<centrer>
<table>
<tr><th>Nom :</th><td> {{enseignant.nom}}</td></tr>
<tr><th>Prenom :</th><td> {{enseignant.prenom}}</td></tr>
<tr><th>Grade :</th><td> {{enseignant.grade}}</td></tr>
<tr><th>Service du :</th><td>{{enseignant.service_du}}</td></tr>
<tr><th>Decharge :</th><td>{{enseignant.décharge}}</td></tr>
<tr><th>Commentaire :</th><td>{{enseignant.commentaire}}</td></tr>
<tr><th>Arrivé en :</th><td>{{enseignant.arrivée_en}}</td></tr>
<tr><th>Photo :</th><td>{{enseignement.photo}}</td></tr>
<tr><th>Attribué :</th><td>{{enseignement.attribué}}</td></tr>
<tr><th>Bilan :</th><td>{{enseignant.bilan}}</td></tr>
<tr><th>Millesime :</th><td>{{enseignant.millesime}}</td></tr>
</table>

</table>
</centrer>

<br>



<br>
<centrer>
<bouton>
<a href="{% url "enseignants" %}">Retour à la liste</a>
<a href="{% url "enseignant-edit" pk=enseignant.id %}">Modifier {{enseignant}}</a>
</bouton>
<bouton_rouge>
<a href="{% url "enseignant-delete" pk=enseignant.id %}">Effacer {{enseignant}}</a>
</bouton_rouge>
</centrer>
{% endblock %}