
{% extends "base.html" %}

{% block content %}


<h1>{{ enseignant }}</h1>



<table>
<tr>
	<th style="width:10%;">Portrait</th>
	<th style="width:20%;"> Nom</th>
	<th style="width:10%;"> Grade</th>
	<th style="width:10%;"> Service du</th>
	<th style="width:10%;"> Décharge </th>
	<th style="width:10%;"> Attribué</th>
	<th style="width:10%;"> Bilan</th>
	<th style="width:3%;"> Millesime</th>
</tr>
 <tr> 

    <td> <img src="{{photo}}"></td>
	<td style="width:20%;">
		<a href="{% url 'enseignant-view' enseignant.id %}">{{enseignant.prenom }} {{enseignant.nom}}</a>
	</td>
	<td>
		{{enseignant.grade}}
	</td>
	<td>
		{{enseignant.service_du}}
	</td>
	<td>
		{{enseignant.decharge}}
	</td>
	<td>
		{{enseignant.total_attribue_1}}
	</td>
	<td>
		{{enseignant.calcul_bilan}}
	</td>
	<td style="width:3%;">
		{{enseignant.millesime}}
	</td>

</tr>

</table>

<br>
<bouton>
<a href="{% url "enseignants" %}">Retour à la liste</a>
<a href="{% url "enseignant-edit" pk=enseignant.id %}">Modifier</a>
<a href="{% url "enseignant-delete" pk=enseignant.id %}">Effacer</a>
</bouton>

{% endblock %}