{% extends "base.html" %}
{% block title %}Liste des UE{% endblock %}


{% block content %}




<h1>Liste des UE</h1>



<bouton>
<a href="{% url "ue-new" %}">nouvelle ue</a>
</bouton>

<br><br>

<table>
<tr>
	<th style="width: 5%;"><a href="?order_by=code">Code</a></th>
	<th style="width: 15%;"><a href="?order_by=titre">Titre</a></th>
	<th style="width: 15%;"><a href="?order_by=responsable">Responsable</a></th>
	<th style="width: 5%;"><a href="?order_by=année">Année</a></th>
	<th style="width: 5%;"><a href="?order_by=semestre">Semestre</a></th>
	<th style="width: 5%;"><a href="?order_by=millesime">Millesime</a></th>
	
</tr>
{% for ue in Ue %}
<tr>
	<td><a href="{% url "ue-view" ue.id %}">{{ue.code}}</a></td>
	<td>{{ue.titre}}</td>
	<td>{{ue.responsable}}</td>
	<td>{{ue.année}}</td>
	<td>{{ue.semestre}}</td>
	<td>{{ue.millesime}}</td>
</tr>
{% endfor %}	

</table>
{% endblock %}