{% extends "base.html" %}



{% block content %}


<h1>{{enseignant}}</h1>


<br><br>
<a href="{% url 'enseignant-edit' enseignant.id %}">Modifier</a>
<a href="{% url 'enseignant-delete' enseignant.id %}">Effacer</a>

<table>
<tr>
	<tr>
	<th>Prénom</th>
	<th> Nom </th>
	<th> Grade</th>
	<th> Arrivé(e) le</th>
	<th> Service théorique</th>
	<th> Décharge </th>
	<th> Attribué</th>
	<th> Bilan</th>
</tr>
</tr>
<tr>
	<td>
		<a>{{enseignant.prenom }}</a>
	</td>
	<td>
	 {{enseignant.nom}}
	</td>	
	<td>
		{{enseignant.grade}}
	</td>
	<td>
		{{enseignant.arrivé_en}}
	</td>
	<td>
		{{enseignant.service_du}}
	</td>
	<td>
		{{enseignant.decharge}}
	</td>
	<td>
		{{enseignant.total_attribue}}
	</td>
	<td>
		{{enseignant.calcul_bilan}}
	</td>
</tr>
</table>





{% endblock content %}