{% extends "services/base.html" %}

{% block content %}



{% if tache.id %}
<h1>Modifier la Tache</h1>
{% else %}
<h1>Nouvelle Tache</h1>
{% endif %}


<form action="{{ action }}" method="POST">
  {% csrf_token %}
<table>
<tr>
{% for field in form %}
<th>
 {{ field.label_tag }} 
</th>
{%endfor%}
</tr>

 <tr> {% for field in form %}
    <td>
     {{ field }}
    </td>
  {% endfor %}
</tr> 
</table>


 
 <input id="save_tache" type="submit" value="Enregistrer" />
</form>

{% if tache.id %}
<a href="{% url "tache-edit" pk=tache.id %}">
  Edit Addresses
</a>
<a href="{% url "tache-delete" pk=contact.id %}">Effacer</a>
{% endif %}

<a href="{% url "taches" %}">retour à la liste</a>

{% endblock %}