{% extends "services/base.html" %}
{% block title %}Liste des Enseignants{% endblock %}


{% block content %}

<h1>Liste des enseignants</h1>
<br/>
<br/>

<table>
<tr>
	<th> Nom </th>
	<th> Grade</th>
	<th> Service théorique</th>
	<th> Décharge </th>
	<th> Attribué</th>
	<th> Bilan</th>
</tr>
{% for enseignant in Enseignants%}
<tr>
	<td>
		<a href="{{enseignant.id}}">{{enseignant.prenom }} {{enseignant.nom}}</a>
	</td>
	<td>
		{{enseignant.grade}}
	</td>
	<td>
		{{enseignant.service_du}}
	</td>
	<td>
		{{enseignant.decharge}}
	</td>
	<td>
		{{enseignant.total_attribué}}
	</td>
	<td>
		{{enseignant.calcul_bilan}}
	</td>
</tr>
{% endfor %}	

</table>

{% endblock %}
