{% extends "services/base.html" %}
{% block title %}Liste des Enseignants{% endblock %}


{% block content %}

<h1>Liste des enseignants</h1>
<br/>
<br/>

<table>
<tr>
	<th> <a href="?order_by=nom">Nom</a> </th>
	<th> <a href="?order_by=grade">Grade</a></th>
	<th> Service théorique</th>
	<th> Décharge </th>
	<th> <a href="?order_by=-attribué">Attribué</a></th>
	<th> <a href="?order_by=-bilan">Bilan</a></th>
</tr>
{% for enseignant in Enseignants%}
<tr>
	<td>
		<a href="{% url 'enseignant' enseignant.id%}">{{enseignant.prenom }} {{enseignant.nom}}</a>
	</td>
	<td>
		{{enseignant.grade}}
	</td>
	<td>
		{{enseignant.service_du}}
	</td>
	<td>
		{{enseignant.decharge}}
	</td>
	<td>
		{{enseignant.total_attribue}}
	</td>
	<td>
		{{enseignant.calcul_bilan}}
	</td>
</tr>
{% endfor %}	

</table>

{% endblock %}
