{% extends "services/base.html" %}
{% block title %}Liste des Enseignants{% endblock %}


{% block content %}

<h1>Liste des enseignants</h1>
<br/>
<br/>

<table>
<tr>
	<th> </th>
	<th> Nom</th>
	<th> Prénom</th>
	<th> Grade</th>
	<th> Service théorique</th>
	<th> Décharge </th>
	<th> Service actuel </th>
	<th> Bilan</th>
</tr>
{% for enseignant in Enseignants%}
<tr>
	<td>
		{{enseignant.id}}
	</td>
	<td>
		{{enseignant.nom}}
	</td>
	<td>
		{{enseignant.prenom }}
	</td>
	<td>
		{{enseignant.grade}}
	</td>
	<td>
		{{enseignant.service_du}}
	</td>
	<td>
		{{enseignant.decharge}}
	</td>
	<td>
		{{enseignant.attribué}}
	</td>
	<td>
		{{enseignant.bilan}}
	</td>
</tr>
{% endfor %}	

</table>

{% endblock %}
