{% extends "services/base.html" %}
{% block title %}Liste des taches{% endblock %}


{% block content %}
<h1>Liste des tâches</h1>


<br/><br/>

<table>
<tr>
	<th>Année</th>
	<th>Semestre</th>
	<th> UE</th>
	<th> Type</th>
	<th> Attribuée à</th>
	<th> Horaire eq. TD</th>
</tr>
{% for tache in Taches %}
<tr>
	<td>{{tache.ue.année}}</td>
	<td>{{tache.ue.semestre}}</td>
	<td>
		<a href="/ue/{{tache.ue.id}}">{{tache.ue}}</a>
	</td>
	<td>
		{{tache.nature}}
	</td>
	<td>
		<a href="/enseignants/{{tache.attribué_à.id}}">{{tache.attribué_à}}</a>
	</td>
	<td>
		{{tache.horaire_eqtd}}
	</td>
</tr>
{% endfor %}	

</table>

{% endblock %}