{% extends "services/base.html" %}
{% block title %}Liste des taches{% endblock %}


{% block content %}
<h1>Liste des tâches</h1>


<br/><br/>
<table>
<tr>
	<th style="width: 5%;">Année</th>
	<th style="width: 5%;">Semestre</th>
	<th style="width: 20%;"> <a href="?order_by=-ue">UE</a></th>
	<th style="width: 10%;"> Tache</th>
	<th style="width: 20%;"> <a href="?order_by=-attribué_à">Attribuée à</a></th>
	<th style="width: 10%;"> Horaire eq. TD</th>
</tr>
{% for tache in Taches %}
<tr>
	<td style="width: 5%;">{{tache.ue.année}}</td>
	<td style="width: 5%;">{{tache.ue.semestre}}</td>
	<td style="width: 20%;"><a href="/ue/{{tache.ue.id}}">{{tache.ue}}</a></td>
	<td style="width: 10%;"><a href="/tache/{{tache.id}}">{{tache.nature}}</a></td>
	<td style="width: 20%;"><a href="/enseignant/{{tache.attribué_à.id}}">{{tache.attribué_à}}</a></td>
	<td style="width: 10%;">{{tache.horaire_eqtd}}</td>
</tr>
{% endfor %}	

</table>

{% endblock %}