{% extends "services/base.html" %}
{% block title %}Liste des UE{% endblock %}


{% block content %}

<h1>Listes des UE</h1>
<table>
<tr>
	<th>Id</th>
	<th>Code</th>
	<th>Titre</th>
	<th>Responsable</th>
	<th>Année</th>
	<th>Semestre</th>
	
</tr>
{% for ue in Ue %}
<tr>
	<td>{{ue.id}}</td>
	<td>
		<a href="{{ue.code}}">{{ue.code}}</a>
	</td>
	<td>
		{{ue.titre}}
	</td>
	<td>
		{{ue.responsable}}
	</td>
	<td>
		{{ue.année}}
	</td>
	<td>
		{{ue.semestre}}
	</td>
	
</tr>
{% endfor %}	

</table>
{% endblock %}