{% extends "services/base.html" %}



{% block content %}


<h1>{{ens}}</h1>
<br><br>



<table>
<tr>
	<tr>
	<th>Prénom</th>
	<th> Nom </th>
	<th> Grade</th>
	<th> Arrivé(e) le</th>
	<th> Service théorique</th>
	<th> Décharge </th>
	<th> Attribué</th>
	<th> Bilan</th>
</tr>
</tr>
<tr>
	<td>
		<a>{{ens.prenom }}</a>
	</td>
	<td>
	 {{ens.nom}}
	</td>	
	<td>
		{{ens.grade}}
	</td>
	<td>
		{{ens.arrivé_en}}
	</td>
	<td>
		{{ens.service_du}}
	</td>
	<td>
		{{ens.decharge}}
	</td>
	<td>
		{{ens.total_attribue}}
	</td>
	<td>
		{{ens.calcul_bilan}}
	</td>
</tr>
</table>





{% endblock content %}