body{
	background-color: #fff;
	color: #333;
}

h1{
	text-align: center;
	color: #000;
}

table {
    border-collapse: collapse;
}

td{
	border: 1px solid #666;
	width: 140px;
	text-align: center;
}


th{
	border: 1px solid #666;
	width: 120px;
	text-decoration: bold;
	color:#333;
}