@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);


body{
	font: 14px/1.6 'Oxygen',sans-serif;
	background-color: #fff;
	color: #333;
}

h1{
	text-align: center;
	color: #000;
}

table {
    border-collapse: collapse;
}

td{
	border: 1px solid #666;
	width: 140px;
	text-align: center;
}


th{
	border: 1px solid #666;
	width: 120px;
	text-decoration: bold;
	color:#333;
}

.menu ul {
	list-style-type: none;
	display: inline;
}

.menu li{
	display: inline;
	margin: 20px;
}

.menu a{
	text-decoration: none;
}